/* #region base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
  line-height: 150%;
}

body:has(.backdrop.is-open) {
  overflow: hidden;
}
/* #endregion */

/*#region reset */
a {
  color: currentColor;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.hide {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
address {
  font-style: normal;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

input {
  font-family: inherit;
}

/*#endregion reset */

/*#region common */
.container {
  min-width: 220px;
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
.section-size {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .section-size {
    padding: 120px 0;
  }
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0 auto;
  margin-bottom: 72px;
}
.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

/*#endregion common */

/*#region header */
.page-header {
  /* position: sticky;
  top: 0px;
  z-index: 555;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff; */
}
@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.nav-menu-btn {
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;

  background-color: transparent;
  border: none;
}
@media only screen and (min-width: 768px) {
  .nav-menu-btn {
    display: none;
  }
}
.nav-menu-btn-icon {
  stroke: #111111;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .header-menu,
  .header-adress {
    display: none;
  }
}
.nav-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .nav-link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.nav-link.current {
  position: relative;
  color: #404bbf;
}
.nav-link.current::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
@media only screen and (max-width: 767px) {
  .nav-link.current::after {
    display: none;
  }
}

.contacts-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 24px;
}
@media only screen and (min-width: 768px) {
  .contacts-list {
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}
.contacts-link {
  display: block;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (min-width: 768px) {
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.header-adress {
  margin-left: auto;
  font-style: normal;
}

.logo-accent {
  color: #2e2f42;
}
/* .header-menu {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
} */
/*#endregion header */

/*#region hero section*/

.hero-section {
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/images/mob/hero-bg-mob.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/images/mob/hero-bg-mob@2x.jpg');
  }
}
@media only screen and (min-width: 768px) {
  .hero-section {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/images/tab/hero-bg-tab.jpg');
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/images/tab/hero-bg-tab@2x.jpg');
    }
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/images/hero-bg.jpg');
  }
  @media (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/images/hero-bg@2x.jpg');
    }
  }
}
.hero-section-title {
  max-width: 216px;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hero-section-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 107%;
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1158px) {
  .hero-section-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus,
.hero-button:focus {
  background-color: #404bbf;
}
/*#endregion hero section */

/*#region advantages section */
.adv-section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .adv-section {
    padding: 120px 0;
  }
}
.adv-section-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 72px 24px;
}

@media only screen and (min-width: 768px) {
  .adv-list-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .adv-list-item {
    width: calc((100% - 24px * 3) / 4);
  }
}
.adv-sub-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .adv-sub-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .adv-sub-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
  }
}
.adv-icon-wrapper {
  display: flex;
  width: 100%;
  height: 112px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
}
@media only screen and (max-width: 1158px) {
  .adv-icon-wrapper {
    display: none;
  }
}
.adv-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
@media only screen and (max-width: 1158px) {
  .adv-text {
    font-weight: 400;
  }
}
/*#endregion advantages section */

/*#region team section */

.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px 24px;
}
@media only screen and (min-width: 768px) {
  .team-list {
    gap: 64px 24px;
  }
}
.team-item {
  width: 264px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item-text {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.team-item-text > .sub-title {
  text-align: center;
  margin-bottom: 8px;
}
.team-item-text > .text {
  text-align: center;
  margin-bottom: 8px;
}
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.socials-item {
  width: 40px;
  height: 40px;
  display: flex;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus,
.socials-link:active {
  background-color: #404bbf;
}
.socials-icon {
  fill: #f4f4fd;
}

/*#endregion team section */

/*#region portfolio-section */

.portfolio-section {
  background-color: #ffffff;
  padding: 96px 0;
  /* box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); */
}
@media only screen and (min-width: 1158px) {
  .portfolio-section {
    padding: 120px 0;
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}

.portfolio-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list-item {
    width: calc((100% - 48px * 1) / 3);
  }
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.portfolio-item-text > .sub-title {
  margin-bottom: 8px;
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-item-img {
  object-fit: cover;
}

.portfolio-overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*#endregion portfolio section */
/*#region footer-section */
.footer-section {
  background-color: #2e2f42;
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}
.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 72px 24px;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    gap: 0;
  }
}

.footer-logo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-logo-container {
    max-width: 264px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-right: 120px;
  }
}

.footer-logo-accent {
  color: #f4f4fd;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: #f4f4fd;
}
.footer-socials-container {
  max-width: 208px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-soc {
    align-items: flex-start;
  }
}
.footer-socials-text {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.footer-socials-item {
  display: flex;
}

.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-link:hover,
.footer-socials-link:focus,
.footer-socials-link:active {
  background-color: #31d0aa;
}
.footer-socials-icon {
  fill: #f4f4fd;
}

.footer-sub {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .footer-sub {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-sub {
    margin-left: auto;
  }
}
.footer-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px 24px;
}
@media only screen and (min-width: 768px) {
  .footer-form {
    flex-wrap: nowrap;
  }
}
.footer-form-wrapper {
  width: 100%;
}
.footer-form-input {
  width: 288px;
  height: 40px;
  padding: 0 16px;

  font-size: 12px;
  font-weight: 400;
  line-height: 200%;
  color: #fff;
  letter-spacing: 0.04em;

  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-form-input {
    opacity: 1;
  }
}
.footer-form-input::placeholder {
  color: #fff;
}

.footer-form-input:focus {
  border-color: #31d0aa;
  opacity: 1;
}

.footer-form-input:focus::placeholder {
  color: #31d0aa;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  border-radius: 4px;
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}

/*#endregion footer section */

/*#region backdrop section */
.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 16px 24px;

  transform: translate(-50%, -50%);

  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }
}
.backdrop :not(.is-open) .modal {
  transform: translay (-50%, -100%);
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  max-width: 256px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 758px) {
  .modal-text {
    max-width: 360px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #2e2f42;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field {
  margin-bottom: 8px;
}
.modal-lable {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;

  margin-bottom: 4px;
}

.policy-acsept-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.modal-form-comments:focus {
  border-color: #4d5ae5;
}

.modal-form-comments::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.input-field-wrapper {
  position: relative;
  /* font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); */
}
.input-field {
  display: block;

  width: 100%;
  height: 40px;
  padding: 8px 38px;

  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus {
  border-color: #4d5ae5;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-field:focus + .modal-icon {
  fill: #4d5ae5;
}
.textarea {
  margin-bottom: 16px;
}
.modal-form-comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;

  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.policy-acsept-form {
  margin-bottom: 24px;
}
.accept-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  padding: 2px 2px;

  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked + .policy-acsept-lable > .accept-checkbox {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}

.policy-acsept-lable {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.accept-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;

  fill: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.modal-submit-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}

/*#endregion backdrop section */

/* #region Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;
}
.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;

  height: 100%;
  padding: 72px 16px 40px 16px;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid #e7e9fc;
  background-color: transparent;
}
.mobile-menu-btn-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: auto;
}
.menu-address {
  margin-bottom: 48px;
}
.menu-socials-list {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.menu-socials-item {
  display: flex;
  width: 40px;
  height: 40px;
}
.menu-socials-link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;
}
.menu-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* #endregion */
